<!-- sei que tem gente que nao considera boa pratica colocar style tag, usei pra fazer graca soh! grato! -->
<img src="<%= imagem %>" style="border-radius: 100%" alt="" />
<h1><%= nomeDoUsuario %>, <%= idade %></h1>
<h2><%= sobrenome %></h2>
<a href="<%= githubPage %>" target="_blank"> <%= githubPage %> </a>
